.destination-category-bar {
    font-family: 'NanumBarunGothicLight';
    font-size: 12px;
    color: rgb(122, 122, 122);
    display: flex; 
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    border: 1px solid rgb(212, 212, 212); 
    background-color: rgb(255, 255, 255);
    padding-right: 10px;
}

.category {
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

.destination-category-bar ul {
    display: flex; 
    flex-wrap: wrap;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

ol, ul, li {
    list-style: none;
}

.category.selected {
    color: green;
    font-weight: bold;
  }

  .destination-category-bar .category {
    color: black; /* 기본 글씨 색상 */
    cursor: pointer;
  }
  
  .destination-category-bar .category.selected {
    color: green; /* 선택된 카테고리 글씨 색상 */
    font-weight: bold;
  }
