.header {
    height: 240px;
    min-width: 900px;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    padding: 60px 50px 0px 50px;
    border-style:ridge;
    border-color: rgb(241, 241, 241);
}

.header ul {
    display: flex;
    align-items: top;
    justify-content: space-between;
    margin-left: -40px;
}

.bottom-part {
    margin-top: 50px;
} 