.my-page-nav {
    
    width: 150px;
    display: flex; 
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.mypage-nav-link {
    text-decoration-line: none;
    margin: 15px 0px 15px 0px;
    color: black;
    letter-spacing: 1px;
    background-color: aqua;
}