.footer {
    height: 200px;
    color: rgb(69, 69, 69);
    background-color: rgb(121, 237, 98);
    padding: 60px;
    width: 100%;
    border-style: ridge;
    border-color: rgb(235, 235, 235);
    position: relative; 
    transform: translatY(-100%);
}