.plans {
    margin: 60px;
}
.lp {
    border: 2px solid black;
    padding: 30px;
    margin-bottom: 30px;
}
.fp {
    border: 2px solid black;
    padding: 30px;

}
.plan1 {
    border: 1px solid black;
    padding: 30px;
    margin: 10px;
}

.my-plan-page {
    /* width: 100%; */
    min-width: 900px;
    margin: auto;
    padding: 20px;
    display: flex;
}
