* {
  margin: 0;
}
.App {
  background: rgb(253, 234, 234);
}
  
body {
  font-family: 'NanumBarunGothic', sans-serif;
}

.bold-text {
  font-family: 'NanumBarunGothicBold', sans-serif;
}

.light-text {
  font-family: 'NanumBarunGothicLight', sans-serif;
}

.ultra-light-text {
  font-family: 'NanumBarunGothicUltraLight', sans-serif;
}

.center-page {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}