.findid-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #d4d4d4;
    text-align: center;
}

.findid-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 15px;
    width: 100%;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: calc(100% - 22px);
}

.button-send-code, .button-verify-code, .button-find-id {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.verification-success {
    color: green;
    font-size: 24px;
    margin-left: 10px;
}

.found-id {
    margin-top: 20px;
}
