.main-page {
    margin: 60px;
    height:70ch;
    /* width: 300px; */
    display: flex;
    justify-content: center;
}
.img {
    width: 500px;
    height: 500px;
    border: 1px ridge black;
    margin: 30px;
}