.make-plan-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.make-plan-page h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}

.message.chatgpt {
    background-color: #d1e7dd;
    text-align: left;
    justify-content: flex-start;
    align-self: flex-start;
    margin-right: auto;
}

.message.user {
    background-color: #f8d7da;
    text-align: right;
    justify-content: flex-end;
    align-self: flex-end;
    margin-left: auto;
}

.response-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.response-form label {
    margin-bottom: 5px;
    color: #555;
}

.response-form textarea {
    padding: 10px;
    border: 1px solid #ab7979;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
}

.response-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #cad8e7;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.response-form button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.response-form button:not(:disabled):hover {
    background-color: #0056b3;
}